<div class="center hero-unit">
	<h1>welcome to one month rails!</h1>
	<p>you' ve found the home page for the <%= link_to "one month rails", "http://onemonthrails.com" %> application.
	</p>
	 <p>
	 	<%= link_to "Sign Up NOW!", "#", class: "btn btn-large btn-primary" %>
	 </p>
</div>